<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.vector.app">

    <!-- Needed for VOIP call to detect and switch to headset-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Call feature -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <!-- Commented because Google PlayStore does not like we add permission if we are not requiring it. And it was added for future use -->
    <!--uses-permission android:name="android.permission.READ_CALL_LOG" /-->
    <!-- Needed for voice call to toggle speaker on or off -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- READ_PHONE_STATE is needed only if your calling app reads numbers from the `PHONE_STATE`
            intent action. -->

    <!-- Needed to show incoming calls activity in lock screen-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Needed for incoming calls  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To be able to install APK from the application -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Jitsi libs adds CALENDAR permissions, but we can remove them safely according to https://github.com/jitsi/jitsi-meet/issues/4068#issuecomment-480482481 -->
    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR"
        tools:node="remove" />

    <!-- Jitsi SDK is now API23+ -->
    <uses-sdk tools:overrideLibrary="org.jitsi.meet.sdk,com.oney.WebRTCModule,com.learnium.RNDeviceInfo,com.reactnativecommunity.asyncstorage,com.ocetnik.timer,com.calendarevents,com.reactnativecommunity.netinfo,com.kevinresol.react_native_default_preference,com.rnimmersive,com.corbt.keepawake,com.BV.LinearGradient,com.horcrux.svg" />

    <!-- Adding CAMERA permission prevents Chromebooks to see the application on the PlayStore -->
    <!-- Tell that the Camera is not mandatory to install the application -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Since Android 11, see https://developer.android.com/training/package-visibility -->
    <queries>
        <!-- To open URL in CustomTab (prefetch, etc.). It makes CustomTabsClient.getPackageName() work
         see https://developer.android.com/training/package-visibility/use-cases#open-urls-custom-tabs -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <!-- The app can open attachments of any mime type
        see https://developer.android.com/training/package-visibility/use-cases#open-a-file -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".VectorApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vector.Light"
        tools:replace="android:allowBackup">

        <activity
            android:name=".features.MainActivity"
            android:theme="@style/Theme.Vector.Launcher" />

        <!-- Activity alias for the launcher Activity (must be declared after the Activity it targets) -->
        <!-- exported="true" is required to launch application -->
        <activity-alias
            android:name=".features.Alias"
            android:exported="true"
            android:targetActivity=".features.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />-->
        </activity-alias>
    </application>

</manifest>